
.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 470px;
}
.table {
    margin-top: 23px;
    margin-left: 360px;
    width: 600px !important;
}
#status{
    margin-left: 656px;
    margin-top: 10px;
}